*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar{
    margin-top: -15px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 3vw 13vw;
    
}
.navbar .logo{
    height: 90px;
    width: 100px;
    padding: 5px 10px;
    overflow: hidden;
   
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.navbar .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav a{
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.nav i{
    font-size: 15px;
    padding: 5px;
}
.catering-part-1{
    width: 100%;
    height: 500px;
    position: relative;
    /* background-color: antiquewhite; */
}
.catering-part-1 .first-img{
    width: 100%;
    height: 250px;
    position: absolute;
}
.first-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.first-img .text-1{
   height: 280px;
   display: flex;
   align-items: center;


}
.catering-part-1 h2{
    margin-top: 15px;
    margin-left: -57vw;
    font-size: 3vw;
    color: #ffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 5px;
    z-index: 99;
   
}
                             /* form-container */
.container {
    max-width: 850px;
    margin: 0 auto;
    background-color: #f7f7f7;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 10px;
}

.Number-of-Guests{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.Number-of-Guests label{
    margin-bottom: 10px;
}
.Number-of-Guests input{
    padding: 15px;
    border: 1px solid #222222a8;
    border-radius: 4px;
    font-size: 14px;
    width: 32%;
    margin-bottom: 10px;
}

.input-group input,
.input-group textarea {
    padding: 15px;
    border: 1px solid #222222a8;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input[type="date"],
.input-group textarea {
    width: 100%;
}

.input-group textarea {
    resize: vertical;
}
.form-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.form-part2 .input-part2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-part2 button {
    padding: 10px 35px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.input-group input[type="checkbox"] {
    margin-right: 10px;
}



footer{
    width: 100%;
    height: 40vh;
    margin-top: 120px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
footer .fs-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 200px;
}
footer .last-part1{
    display: block;
    /* background-color: #f7f7f7; */

}
.last-part1 p{
    font-size: 15px;
    line-height: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
}
footer .media-icon{
   display: block;
   
}
a{
    text-decoration: none;
    color: #fff;
}
.media-icon i{
    font-size: 18px;
    padding: 12px;
}
.media-icon{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}